.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btnContainer {
  text-align: center;
  width:100%;
  padding: 2rem;
  border-radius: 10px;
  background-color: #79a16691;
}
.btnHeroes {
  display: inline-block;
  width: 150px;
  padding: 8px 0;
  margin: auto 20px;
  background: #208091;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.btnVillains {
  display: inline-block;
  width: 150px;
  padding: 8px 0;
  margin: auto 20px;
  background: #a82525;
  border-radius: 4px;
  color: white;
  text-align: center;
}